/* #html.html{
    font-size: 50px;
}
#html{
    background-color: deeppink;
}
.html{
    background-color: cadetblue;
}
li{
    font-size: 20px;
    color: teal;
    background-color: maroon;
}
li{
    font-size: 32px;
    color: orange;
}
li{
    font-size: 32px;
    color: greenyellow;
} */
