body{
    display: flex;
    height: 100vh;
    background-image: url(/CssProject/order-summary-componet-main/order-summary-component-main/images/pattern-background-desktop.svg);
    margin-left: auto;
    background-size: contain;
    background-color: #E0E8FF;
    background-repeat: no-repeat;
    font-family: "Red Hat Display", sans-serif;
    /* margin: 1rem; */
}
.card-con{
    max-width: 370px;
    min-height:560px;
    /* border: 2px solid black; */
    margin: auto;
    background-color: #fff;
    border-radius: 1rem;
    overflow: hidden;
}
.card-con > p{
    /* text-align: center; */
    margin-inline: auto;
    color: #7280a7;

    
}
 .h2{
    text-align: center;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    color: #1f2f56;
}
.plan-con{
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    background-color: #F8F9FE;
    margin:0 2rem;
    padding: 1.25rem 1rem;
    border-radius: 8px;


}
.plan-con a{
    margin-left: auto;
    font-weight: 900;
    color:  #3829e0;
    font-size: 14px;
}
.anuual-plan{
    /* border: 2px solid black; */
    margin-left: 1rem;

}
.anuual-plan > h3,p{
    margin: 0;
}
.anuual-plan h3{
    color: #1f2f56;
    font-weight: 900;
    font-size: 18px;
}
.anuual-plan p{
    color: #7280a7;
    font-weight: 700;
}

.card-con > img{
    max-width: 370px;
}
.paybtn{
    background-color: #382AE1;
    margin:1rem 2rem;
    text-align: center;
    padding: 1rem;
    color: #fff;
    font-size: 14px;
    font-weight: 900;
    border-radius: 8px;


}
.intro{
    /* border: 2px solid black; */
    padding: 1rem;
    margin-top: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.decription{
    color: #7280a7;
}
.cancel-order{
    text-align: center;
    font-weight: 900;
    font-size: 14px;

}